:root {
  --bs-body-font-size: 0.8rem;
}

.container {
  max-width: 960px;
}

.asm code {
  font-size: 110%;
}

body {
  font-size: 14px;
}

code {
  padding: 5px;
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
}

pre {
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333;
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0 0 10px;
  padding: 9.5px;
  word-break: break-all;
}

pre code {
  background-color: initial;
  border-radius: 0;
  color: inherit;
  font-size: inherit;
  padding: 0;
  white-space: pre-wrap;
}

.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-7 {
  flex: 7;
}
.flex-5 {
  flex: 5;
}
.flex-3 {
  flex: 3;
}
.flex-6 {
  flex: 6;
}
.flex-12 {
  flex: 12;
}