---
---

@import "{{ site.theme }}";

body {
    font-family: inherit;
}

p {
    letter-spacing: 3px;
    line-height: 2em;
}

/* TOC styles */
#markdown-toc {
    border: 1px solid #eee;
    list-style: none;
    padding: 1rem;
    line-height: 2rem;
    ul {
        list-style: none;
        padding-left: 2rem;
    }
}
