---
---

@import "{{ site.theme }}";

body {
    font-family: inherit;
}

p {
    letter-spacing: 3px;
    line-height: 2em;
}

/* TOC styles */
#markdown-toc {
    list-style: none;
    padding-left: 0;
    ul {
        list-style: none;
    }
}
